
body {
    margin: 0;

    background: #222;

    font-family: system-ui;

    width: 100%;
}

.App {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    margin-top: 8rem;

    max-width: 25vw;
    gap: 8px;
}

